<footer class="footerWraper">
    <header>
        <h1>B & B</h1>
        <h3>Buy your favorite staff and Bye till our next shopping togrther.</h3>    
    </header>

    <div class="social">
        <h4>Contact us</h4>
        <div class="social-icons">
        <mat-icon onclick="navigateUser()">mail_outline</mat-icon>
        <mat-icon>phone_enabled</mat-icon>
        <mat-icon>facebook</mat-icon>
        <mat-icon>location_on</mat-icon>
        </div>
    </div>

    <div class="copyright">
        <span class="material-icons">copyright</span>
        <span>Copyright.All right reserved</span>
    </div>
    
</footer>


